.categories {
    display: flex;
    gap: 2px;
    height: 80vh;
    margin: 10px;
    /* overflow: hidden; */
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-l {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    gap: 10px;
    /* overflow: hidden; */
}